body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: hsl(217, 30%, 73%);
}

.jokenpo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #333;
  padding: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.btn {
  cursor: pointer;
  background-color: #1c3c45;
  border: none;
  color: rgb(233, 228, 228);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 12px;
  background-color: t;
}
.btn:hover {
  background-color: #1c3c45;
  color: black;
  border: 2px solid #1c3c45;
}

#resultado {
  font-size: 20px;
  margin-top: 20px;
}
